.gallery {
	background-color: $color-grey-light-1;
	grid-column: full-start / full-end;

	// we consider the smallest element(img) in our grid to define the size of one cell
	display: grid; // (8cols * 7rows)
	grid-template-columns: repeat(8, 1fr); // equal width columns
	grid-template-rows: repeat(7, 5vw); // 7 rows, each with height of 5% of vw: this is done to maintain an aspect ratio for each cell when scaled down/up
	grid-gap: 1.5rem;
	padding: 1.5rem; 

	@media only screen and (max-width: $bp-medium) {
		grid-gap: .15rem;
		padding-top: 4rem;
		padding-bottom: 4rem;

		grid-template-rows: repeat(7, 13vw); 
	}


	&__item {

		overflow: hidden; // for image zoom-in effect

		&--1 {
			grid-row: 1 / 3;
			grid-column: 1 / 3;
		}
		&--2 {
			grid-row: 1 / 4;
			grid-column: 3 / 6;
		}
		&--3 {
			grid-row: 1 / 3;
			grid-column: 6 / 7;
		}
		&--4 {
			grid-row: 1 / 3;
			grid-column: 7 / 9;
		}
		&--5 {
			grid-row: 3 / 6;
			grid-column: 1 / 3;
		}
		&--6 {
			grid-row: 4 / 6;
			grid-column: 3 / 5;
		}
		&--7 { // smallest image which decides our cell's size
			grid-row: 4 / 5;
			grid-column: 5 / 6;
		}
		&--8 {
			grid-row: 3 / 5;
			grid-column: 6 / 8;
		}
		&--9 {
			grid-row: 3 / 6;
			grid-column: 8 / 9;
		}
		&--10 {
			grid-row: 6 / 8;
			grid-column: 1 / 2;
		}
		&--11 {
			grid-row: 6 / 8;
			grid-column: 2 / 4;
		}
		&--12 {
			grid-row: 6 / 8;
			grid-column: 4 / 5;
		}
		&--13 {
			grid-row: 5 / 8;
			grid-column: 5 / 8;
		}
		&--14 {
			grid-row: 6 / 8;
			grid-column: 8 / 9;
		}

		@media only screen and (max-width: $bp-medium) {
			&--3,&--9,&--11,&--12{ 
				display: none;
			}
			&--4 {
				grid-row: 1 / 3;
				grid-column: 6 / 9;
			}
			&--8 {
				grid-column: 6 / -1;
			}
			&--10 {
				grid-column: 1 / 5;
			}
			&--13 {
				grid-column: 5 / 7;
			}
			&--14 {
				grid-row: 5 / -1;
				grid-column: 7 / -1;
			}
		}
	}

	&__img {
		width: 100%;
		height: 100%; // both height and width are required for object-fit
		display: block; // required for object-fit
		object-fit: cover; // to fit images inside a cell

		filter: brightness(80%);
		cursor: zoom-in;
		transition: all .4s;

		@media only screen and (max-width: $bp-medium) {
			filter: brightness(100%);
		}

		&:hover {
			-webkit-transform: scale(1.15);
  			transform: scale(1.15);
  			filter: brightness(100%);
		}
	}
}